@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<h3>Add Todo</h3>

<form>
 <input type="text" id="add new to do" />
 <button type="submit">Add</button>
</form>

<h3>Todo List</h3>

<ul>
    @foreach (var item in Model.TodoItems)
    {
        <li>@item.Description</li>
    }
</ul>